.page-listas_index {
    
    .page-content {
        
        > *{
            background: #fff;
            padding: 15px;
        }
    }
    
    > h2 {
        color: #3d4445;
        padding-bottom: 15px;
        @include typo(2.5rem, 400, $font, 2.5rem);
    }
    
    #tipos-listas {
        
        li {
            margin-bottom: 30px;
        }
        
        h3 {
            @include typo(1.6rem, 400, $font, 1.6rem); 
        }
    }
} 


.page-listas_evento{
    
    .page-content {
        
        > *{
            background: #fff;
            padding: 15px;
        }
        
        .banner_lista {
            text-align: center;
        }
        
        .titulo-box {
            @include typo(1.6rem, 400, $font, 1.6rem);
            
            b{
                display: block;
                font-weight: 400;
            }
        }
        
        .container2 {
            
            > .board {
                @include typo(1.6rem, 400, $font, 1.6rem); 
            }
            
            form {
                margin: 20px 0;
                overflow: hidden;
                
                .listaClass,
                input[type="text"] {
                    font-size: 1.6rem;
                    height: auto;
                    margin: 3px 10px 0 0;
                    padding: 6px;
                    width: 90%;
                }
            }
            
            .bt-avancar {
                display: block;
                float: none;
                overflow: hidden;
                
                > *{
                    float: left;
                }
            }
            
            @media screen and (max-width: $sm){
                .busca {
                    tr {
                        display: inline-block;
                        width: 100%;
                    }
                    
                    td {
                        display: block;
                        margin-top: 15px;
                    }
                }
            }
        }
        
        ul{
            
            li{
                border: 1px solid #ccc;
                margin-top: 15px;
                padding: 15px;
                
                label{
                    display: block;
                }
                
                .NomeProduto{
                    font-size: 2rem;
                    font-weight: 700;
                    margin: 0 0 15px !important;
                }
            }
        }
    }
}


.page-listas_busca {
    
    .page-content {
        @include typo(1.6rem, 400, $font, 1.6rem); 
        
        > *{
            background: #fff;
            padding: 15px;
        }
        
        form {
            margin-top: 20px;
                
            .listaClass,
            input[type="text"] {
                font-size: 1.6rem;
                height: auto;
                margin: 3px 10px 10px 0;
                padding: 6px;
                width: 90%;
            }
            
            label{
                display: block;
                overflow: hidden;
            }
            
            td{
                @media screen and (max-width: $sm){
                    display: block;
                    margin-top: 15px;
                }
            }
        }
        
        .bt-avancar {
            float: left;
            margin-top: 15px;
            overflow: hidden;
            
            > *{
                float: left;
            }
        }
        
        > .container3{
            overflow: hidden;
            padding-top: 0;
        }
        
        .titCatalogo {
            margin-top: 30px;
            padding-bottom: 0;
            @include typo(2.5rem, 400, $font, 2.5rem);
        } 
        
        .busca input {
            background: none;
            margin: 7px 0 0;
            padding: 6px;
        }
        
        .busca-label {
           @include typo(1.6rem!important, 400, $font, 1.6rem);  
        }
        
        ul{
            
            li{
                border: 1px solid #ccc;
                margin: 15px 0;
                overflow: hidden;
                padding: 15px;
                
                label{
                    display: block;
                }
                
                .NomeProduto{
                    font-size: 2rem;
                    font-weight: 700;
                    margin: 0 0 15px !important;
                }
                
                & ~ br{
                    display: none;
                }
            }
        }
    }
}

.page-listas_criar {
    
    .page-content {
        
        > *{
            background: #fff;
            padding: 15px;
        }
        
        #txt-cabecalho { 
            margin-top: 30px;
            span{
                 @include typo(1.6rem, 400, $font, 1.6rem); 
            }
        }
        
        #aviso_obriga {
            @include typo(1.6rem, 400, $font, 1.6rem); 
        }
        
        .banner_lista {
            text-align: center;
        }
        
        .container2 {
            > .board {
                @include typo(1.6rem, 400, $font, 1.6rem); 
            }
            
            tr {
                display: block;
                margin-bottom: 10px;
                margin-top: 10px;
                width: 100%;
            }
        }
        
        #url_descricao,
        #imagem_lista_descricao,
        #validade_descricao{
            display: block;
            font-size: 1.2rem;
        }
        
        #lista_criar { 
            margin-top: 20px;
            
            .titulo-box {
                margin-top: 30px!important;
                margin-left: 0 !important;
                @include typo(1.6rem, 400, $font, 1.6rem);
                
                b{
                    font-weight: 400;
                }
                
                h2{
                    font-size: 2rem;
                    font-weight: 700;
                }
            }
            
            .label {
                display: inline-block;
                font: 400 1.6rem/1.6rem $font!important;
                margin-bottom: 5px;
                margin-top: 15px;
                text-align: left!important;
                width: 100%;
                
                br {
                    display: none;
                }
            }
            
            #mensagem,
            .select,
            .text {
                background: none;
                border: 1px solid #ccc!important;
                height: auto;
                margin: 0;
                padding: 6px;
            }
            
            .label2 {
                display: inline-block;
                font: 400 1.6rem/1.6rem $font!important;
    
            }
            #nome_lista,
            #endereco_cliente {
                @media screen and (max-width: $sm){
                    width: 95%;
                }
            }
            
            .obriga {
                border-left: 0;
            }
        }
        
        #aviso_obriga {
            .obriga {
                font-size: 0;
                
                &:before {
                    content:'*asterisco';
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.page-print_lista,
.page-lista {
    
    .page-content {
        font-size: 0;
        
        > *{
            background: #fff;
            padding: 15px;
            
            &[name="msg"]{
                padding: 0;
            }
        }
        
        h2 {
            color: #3d4445;
            padding-bottom: 15px;
            @include typo(2.5rem, 400, $font, 2.5rem);
        }
        
        > .container3{
            
            &:last-child{
                margin-top: 30px;
                
                .board{
                    padding-top: 0;
                }
            }
        }
        
        .container2 {
            > div {
                @include typo(1.6rem, 400, $font, 1.6rem);
                
                strong {
                    @include typo(1.6rem, 700, $font, 1.8rem);
                }
                
                &.board{
                    padding-top: 10px;
                    
                    > div.right:last-child{
                        clear: both;
                        float: none;
                        padding-top: 15px;
                    }
                }
            }
        }
        
        #mensagem,
        .select,
        .text {
            background: none;
            border: 1px solid #ccc!important;
            height: auto;
            margin: 10px 0 0;
            padding: 6px;
        }
        
        .separador-paginas{
            display: none;
        }
        
        .btns-paginator{
            border: 1px solid #aaa;
            color: #a2a2a2;
            display: inline-block;
            line-height: 2rem;
            margin: 0 5px;
            padding: 0 5px;
            vertical-align: top;
            
            img{
                display: none;
            }
            
            &.page-current{
                padding: 0 5px;    
            }
            
            &:hover{
                border-color: #000;
                color: #000;
                text-decoration: none;
            }
            
            a{
                color: #aaa;
                display: block;
                line-height: 2rem;
                padding: 0 5px;
                
                &:hover{
                    color: #000;
                    text-decoration: none;
                }
            }
            
            &.selectedPg{
                border-color: #3d4445;
                color: #3d4445;
                padding: 0 5px;
            }
            
            @media screen and (max-width: $sm){
                &.btn-proxima-pagina,
                &.btn-ultima-pagina,
                &.btn-primeira-pagina,
                &.btn-pagina-anterior{
                    display: block !important;
                    margin: 15px 0 !important;
                    text-align: center;
                }
            }
        }
        
        .wrap-gifts{
            background: none;
            font-size: 0;
            padding: 0;
        }
        
        .lista-produtos {
            background: #fff;
            display: inline-block;
            margin: 30px 3.5% 0 0;
            padding: 15px;
            vertical-align: top;
            width: 31%;
            
            @media screen and (max-width: $sm){
                width: 100%;
            }
            
            &:nth-child(3n+3){
                margin-right: 0;
            }
            
            .lista-produto-imagem {
                display: block;
                margin: 0 auto 15px;
                text-align: center;
                
                a{
                    display: block;
                    font-size: 0;
                    height: 90px;
                    
                    &:before{
                        content: '';
                        display: inline-block;
                        height: 90px;
                        margin-right: -1%;
                        vertical-align: middle;
                        width: 1%;
                    }
                    
                    img{
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
            
            .lista-produto-dados {
                margin-bottom: 15px;
                
                img {
                    display: block;
                    margin: 15px auto 0;
                }
                
                .nomeProd{
                    display: block;
                    height: 32px;
                    overflow: hidden;
                }
            }
            
            form {
                @media screen and (max-width: $sm){
                    margin-top: 20px;
                    text-align: center; 
                    width: 100%;
                 }
            }
            
            .lista-produto-comprar {
                text-align: center;
                
                .refresh,
                .refresh_exclusao {
                    background: url(../img/remove.png) center top no-repeat;
                    float: right;
                    height: 12px;
                    margin: 60px 35px 0 0;
                    width: 12px;
                    
                    img {
                        display: none;
                    }
                    
                    @media screen and (max-width: $sm){
                        margin: 0;
                    }
                }
                
                @media screen and (max-width: $sm){
                    text-align: center;
                    display: inline-block;
                 }
            }
            
            .lista-produto-qtde {
                width: 100%;
                
                .qntd {
                    border: 1px solid #ccc;
                    margin: 10px 15px;
                    text-align: center;
                    width: 45px;
                }
            }
            
            .lista-produto-quantidade {
                font-size: 1.4rem;
                text-align: center;
            }
            
            .refresh {
                background: url(../img/refresh.png) center top no-repeat;
                height: 20px;
                margin: 0 19px;
                width: 20px;
                
                img {
                    display: none;
                }
                
                @media screen and (max-width: $sm){
                    width: auto;
                 }
            }
            
            .lista-produto-valores {
                font-size: 1.6rem;
                
                .precoAvista {
                    @include typo(2.5rem, 400, $font, 2.5rem);
                }
            }
            
            .lista-produto-solicitados {
                margin-left: 45px!important;
                 @media screen and (max-width: $sm){
                    margin: 20px 0!important;
                    text-align: center;
                    width: 100%; 
                    
                 }
            }
        }
    }
}

.page-print_lista{
    
    .page-content{
        
        > img:first-child{
            display: none;
        }
        
        > div{
            
            &:last-child{
                display: none;
            }
            
            &:nth-last-child(2){
                margin-top: 30px;
            }
        }
    }
}